<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/packages.css">
    <link rel="icon" href="/img/LOGO-R.png">
    <title>Make my day</title>
</head>

<body>
<header th:insert="fragments/header :: header"></header>



<div class="container" id="packagesPage">
    <h1 class="pageHeader">Packages</h1>
    <div class="card-text">Learn more about our different packages here. They are filled with exciting and interesting activities to fill you day with. </div>
    <br>
    <div class="packages">
        <article th:each="package: ${packages}">
            <a th:href="${'/package/' + package.id}">
                <div class="card" style="width: 18rem;">
                    <img th:src="${'/img/' + package.packageName + '.jpg'}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${package.packageName}"></h5>
                        <p class="card-text" th:text="${package.description}"></p>
                    </div>
                </div>
            </a>
        </article>
    </div>
</div>

<div th:insert="fragments/footer :: footer"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>