<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="icon" href="/img/LOGO-R.png">
    <link rel="stylesheet" href="/css/register.css">

</head>

<body>
<header th:insert="fragments/header :: header"></header>
<div class="container" id="pageHeight">
    <div class="row">
        <div class="col-md-3">
            <form action="/register" class="needs-validation" method="POST" novalidate>
                <h1 class="pageHeader" style="text-align: left; padding-top: 10px;">Register</h1>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="First Name" name="firstName" required/>
                    <div class="invalid-feedback">
                        Please enter your first name.
                    </div>
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Last Name" name="lastName" required/>
                    <div class="invalid-feedback">
                        Please enter your last name.
                    </div>
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" placeholder="Email" name="username" required/>
                    <div class="invalid-feedback">
                        Please choose a valid email address.
                    </div>
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="Password" name="password" required/>
                    <div class="invalid-feedback">
                        Please choose a password.
                    </div>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-light">Register</button>
                </div>
                <div th:if="${message!=null}" th:text="${message}"></div>
            </form>
        </div>
    </div>
</div>

<div th:insert="fragments/footer :: footer"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
<script th:src="'js/register.js'" src="../../static/js/register.js"></script>
</body>
</html>