<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <title>Title</title>

</head>
<body>
<div th:fragment="header">
<nav class="navbar navbar-expand-lg navbar-light blue">
    <div class="container-fluid">

        <a class="navbar-brand mx-2" href="/">
            <img class="d-block mx-auto mx-1" src="/img/emoji.png" alt="" width="23" height="23">
        </a>
        <a class="navbar-brand" href="/" style="color: #F9F4F1;">Make My Day</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/packages" style="color: #F9F4F1;">Activity Packages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/activities" style="color: #F9F4F1;">Activities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/createMyDay" style="color: #F9F4F1;">Create my day</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</div>
</body>
</html>