<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:display="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light blue">
        <div class="container-fluid">

            <a class="navbar-brand mx-2" href="/">
                <img class="d-block mx-auto mx-1" src="/img/LOGO.PNG" alt="" width="45" height="43">
            </a>
            <a class="navbar-brand navLinks" href="/">Make My Day</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active navLinks" aria-current="page" href="/packages">Packages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navLinks" href="/activities">Activities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navLinks" href="/createMyDay">Create my day</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navLinks" href="/user/account">My saved activities</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <div sec:authorize="isAuthenticated()">
                        <ul class="navbar-nav ml-auto iconmargin">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="/img/loginicon.png" width="30" height="30">
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/user/account">My saved activities</a></li>
                                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div sec:authorize="isAnonymous()">
                        <a class="btn btn-light login" href="/login" role="button" aria-expanded="false">
                            Login
                        </a>
                        <a class="btn btn-dark register" href="/register" role="button" aria-expanded="false">
                            Register
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
</body>
</html>