.activitiesPage {
margin-bottom: 10px;
}

.activitiesDetailPage{
    display: flex;
    margin-top: 30px;
    margin-bottom: 10px;

}

.activities {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-column-gap:30px;
    grid-row-gap:30px;

}

.activities article {
    position:relative;
    font-size:15px;
    max-width: 300px;
}

.activitiesPage .activities a{
    text-decoration: none;
    color: #002660;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

html, body {
    height:100%;
}

.activity-img{
    width:  400px;
    height: 400px;
    object-fit: cover;
}

.activity-txt{
margin-left: 10px;

}

.registerbtn {
  background-color: #C0D0DE;
  color: #002660 !important;
  margin: 5px;
  border: none;
  cursor: pointer;

}

.registerbtn:hover {
  opacity:1;
}
