.navLinks {
color: #F9F4F1 !important;
}

.login {
background-color: #C0D0DE;
color: #002660 !important;
margin: 5px;
}

.login:hover {
background-color: #F9F4F1;
}

.register {
background-color: #68ADE1;
color: #F9F4F1;
margin: 5px;
}

.iconmargin{
margin-right: 100px;
}

