.navLinks {
    color: #F9F4F1 !important;
}

.login {
    margin: 5px;
}

.register {
    margin: 5px;
}

#loggedInAs {
    color: rgba(249, 244, 241, 0.6) !important;
    margin: auto;
}

.iconmargin {
    margin-right: 95px;
}