

div.form{
    display: block;
    text-align: center;
    padding-top: 10px;
}
form{
     width: 100%;
     margin-left: auto;
     margin-right: auto;
     display: inline-block;

}

.space{
    margin-top: 5px;
}

label{
    display: inline-block;
    float: center;
    clear: center;
    width: auto;
    text-align: center;
}
input {
  display: inline-block;
  float: center;
}




