#packagesPage {
    min-height: 100vh;
}

.packages {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-column-gap:30px;
    grid-row-gap:30px;
}

.packages article {
    position:relative;
    font-size:15px;
    max-width: 300px;
}

#packagesPage .packages a{
    text-decoration: none;
    color: #002660;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.search-element {
    margin: auto;
    width: 25%;
    padding-top: 0px;
    padding-bottom: 20px;
}

::placeholder {
    text-align: center;
}
