.banner {
    background-image: url("/img/start-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 65% 0%;
    min-height: 550px;
    position: relative;
    background-image: url("/img/start-banner.jpg");
    margin: auto;
    width: 100%;
}

.banner .input-group {
    margin: auto;
    width: 25%;
    justify-content: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#search-button {
    color: #F9F4F1;
    background-color: #2A76C0;
    border-color: #2A76C0;
}

#search-button:hover {
    background-color: #81C4F0;
    border-color: #81C4F0;
}

#recommended {
    background-color: rgba(212, 184, 165, 0.2);
}

.container-fluid .row {
    margin: auto;
    width: 75%;
    justify-content: center;
}

.card-img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.col-sm-3 {
    margin: 10px;
    margin-top: 20px;
}

.card-text {
    color: #F9F4F1;
    background-color: rgba(99, 99, 99, 0.5);
}