.blue {
    background-color: #2A76C0;
}

body {
    background-color: #F9F4F1;
}

.btn-primary {
    background-color: #2A76CO;
    border-color: #2A76CO;
}

.btn-primary:hover {
    background-color: #81C4F0;
    border-color: #81C4F0;
}

.btn-light {
    background-color: #81C4F0;
    border-color: #81C4F0;
}

.btn-light:hover {
    background-color: #88c7f0;
    border-color: #88c7f0;
}

.btn-dark {
    background-color: #332539;
    border-color: #332539;
}

.btn-dark:hover {
    background-color: #493552;
    border-color: #493552;
}

.pageHeader {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
}

#pageHeight{
    min-height: 100vh;

}