<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Make my day</title>
    <link rel="stylesheet" href="/css/start.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="icon" href="/img/LOGO-R.png">
</head>

<body id="startPage">
<header th:insert="fragments/header :: header"></header>

<div class="banner">
    <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="search for activity" aria-label="Search"
               aria-describedby="search-addon"/>
        <button type="button" class="btn btn-light" id="search-button">search <img src="/img/search_icon.png" width="15" height="15"></button>
    </div>
</div>

<div class="container" id="recommended">
    <div class="row">
        <div class="recommendations-title">Recommended activities</div>
        <div class="col-sm-3">
            <div class="card bg-light mb-3">
                <img src="/img/card-img-food.jpg" class="card-img" alt="Food">
                <div class="card-img-overlay">
                    <p class="card-text">Eat your way through Stockholm<br>Food tour</p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card bg-light mb-3">
                <img src="/img/card-img-bicycle.jpg" class="card-img" alt="Bicycle ride">
                <div class="card-img-overlay">
                    <p class="card-text">Get some wheels and explore Stockholm by bike<br>Bike ride</p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card bg-light mb-3">
                <img src="/img/card-img-gronalund.jpg" class="card-img" alt="Gröna Lund amusement park">
                <div class="card-img-overlay">
                    <p class="card-text">Visit Gröna Lund to get your adrenaline pumping<br>Amusement park</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="fragments/footer :: footer"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
</body>
</html>


<!--            <div class="card">-->
<!--                <img src="../static/img/card-img-food" class="card-img-top" alt="Food">-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title">Recommended #1</h5>-->
<!--                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
<!--                    <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-sm-3">-->
<!--            <div class="card">-->
<!--                <img src="../static/img/card-img-bicycle" class="card-img-top" alt="Bicycle ride">-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title">Recommended #2</h5>-->
<!--                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
<!--                    <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-sm-3">-->
<!--            <div class="card">-->
<!--                <img src="../static/img/card-img-gronalund" class="card-img-top" alt="Gröna Lund amusement park">-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title">Recommended #3</h5>-->
<!--                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
<!--                    <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
